@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* === reset css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f8f9f9;
  height: 100vh;
}

.login-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form__wrapper {
  background-color: #fdfdfd;
  width: 80%;
  padding: 4rem;
  box-shadow: 1rem 3rem 3rem -2rem rgba(165, 165, 165, 0.29);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.login-form__left-side {
  width: 40%;
}

.login-form__right-side {
  width: 60%;
}

.login-form__cover {
  padding: 0 2rem;
}

.login-form__cover img {
  width: 100%;
}

.login-form__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.login-form__img-wrap {
  width: 10rem;
  margin-bottom: 1rem;
}

.login-form__img-wrap img {
  width: 100%;
}

.login-form__img-wrap h1 {
  font-size: 1.8rem;
  color: #203352;
}

.login-form__form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem;
}

.login-form__form-group label{
  font-size: 1.4rem;
  font-weight: 600;
  color: #203352;
  margin-bottom: 1.3rem;
}

.login-form__form-group input{
  font-size: 1.4rem;
  padding: 1.2rem;
  outline: 0;
  border-radius: 0.3rem;
  border: .2rem solid #dce1e9;
}

.login-form__form-group input:focus{
  border-color: #fdd3df;
}

.login-form__submit{
    text-align: center;
}

.login-form__submit button{
    background-color: #fd5885;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    outline: 0;
}

.login-form__submit button:hover{
    background-color: #f03e6d;
}

.login-form__submit span{
   font-size: 1.5rem;
   color: #fff;
}


/* === Responsive */

@media (max-width:768px){
    .login-form__wrapper{
        padding: 4rem 2rem;
    }

    .login-form__left-side{
        width: 100%;
    }

    .login-form__right-side{
        display: none;
    }
}






